html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inheri t;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #0f1214;
  color: #9575cd;
}

header {
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px 20px;
  /* border: 1px solid white; */
}

footer {
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 40px;
  margin-top: 30px;
  /* border: 1px solid white; */
}

nav {
  width: calc(15vw - 5px);
  min-height: 75vh;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 15px;
  /* border: 1px solid white; */
}

main {
  height: 100%;
  display: flex;
}

section {
  width: calc(85vw - 10px);
  min-height: 75vh;
  padding: 20px;
  margin: 0 20px 10px;
  border: 1px solid #9575cd;
  border-radius: 15px;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.4rem;
}

a {
  text-decoration: none;
  color: #a98eda;
}

nav li {
  margin: 30px auto;
}

.root-stranica {
  min-height: calc(100vh - 5px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border: 1px solid white; */
}

.whole-page-flex-container {
  min-height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid white; */
}

.active {
  color: #42c16f;
}

.pending {
  color: #c16f42;
}

::placeholder {
  color: #ede7f6;
}

.error-page-message {
  margin-top: 20px;
  margin-bottom: 60px;
}

div.search-container {
  text-align: center;
}

.search-box {
  width: 75%;
  height: 2rem;
  padding-left: 10px;
  background-color: #0f1214;
  border-radius: 15px;
  border: 1px solid #5e35b1;
  color: white;
}

.search-box:focus {
  outline-width: 0;
}

.section-pure-css > h2 {
  text-align: center;
  font-size: x-large;
  margin-bottom: 20px;
}

.predmeti-purecss-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.predmet-purecss-container {
  border: 1px solid #9575cd;
  border-radius: 15px;
  height: 200px;
  width: 200px;
  padding: 0 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.predmet-purecss-naziv-sifra {
  width: 100%;
}

.predmet-purecss-naziv-sifra > h2 {
  margin-bottom: 10px;
  text-align: center;
}

.predmet-purecss-naziv-sifra > p {
  text-align: center;
}
